.bin_page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner {
  height: 40px;
  width: 100%;
  background-color: #852DB5;
  align-items: center;
  display: flex;
  padding-left: 10px;
}

.banner img {
  width: 100px;
}

.bin_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

.bin_details {
  display: flex;
  width: 70%;
  background-color: #f9fcff;
  position: relative;
  z-index: 1;
}