.request-nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  flex: 1;
  overflow: hidden;
}

.request-options {
  display: flex;
  flex-shrink: 0;
  padding: 10px;
  flex-direction: row;
}

.request-search-wrapper {
  display: flex;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  flex: 1;
  align-items: center;
}

.request-search-wrapper:focus-within {
  box-shadow:
    inset 0 2px 10px rgba(0, 0, 0, 0.1),
    0 0 4px var(--primary-color);
}

.request-search-wrapper:focus-within .search-icon {
  color: var(--primary-color);
}

.search-icon {
  color: rgb(130, 130, 130);
}

.request-search {
  border: none;
  padding-left: 5px;
  outline: none;
  background: none;
  flex: 1;
}

.request-search::-webkit-search-cancel-button {
  display: none;
}

.request-header {
  display: flex;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid rgb(230, 230, 230);
  justify-content: flex-start;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.request-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  flex: 1;
}

.delete-all-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(150, 150, 150);
  border-top: 2px solid rgb(230, 230, 230);
}

.delete-all-button:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: #f3eaf8;
}
