.request-nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

/* .request-options {

} */

.request-header {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.request-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  flex: 1;
}