.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  justify-content: center;
}

.logo {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin-bottom: 30px;
}