.copy_style {
  width: 100px;
  background-color: #656565;
  color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  align-content: center;
}

.copy_style:hover {
  background-color: #707070;
  color: white;
}