button {
  /* width: 100px; */
  background-color: transparent;
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  align-content: center;
  border-width: 1px;
  border-color: var(--primary-color);
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, sans-serif;
}

button:hover {
  background-color: var(--primary-color);
  color: white;
}